<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Companies and Sectors</title>
    <link rel="stylesheet" href="static/css/index.css">
</head>
<body>
    <!-- Include Hamburger Menu -->
    {% include 'menu.html' %}
    <div class="title-container">
        <h1 id="title">Companies</h1>
        <select id="sector-filter" onchange="filterCompanies()">
            <option value="">All Sectors</option>
        </select>
    </div>
    <input type="text" id="search-input" placeholder="Search companies..." onkeyup="filterCompanies()">
    <div class="container" id="companies-container">
        <!-- Company elements will be dynamically inserted here -->
    </div>
    <button id="compare-button" onclick="compareCompanies()">Compare Shares</button>
    <script src="static/js/index.js"></script>
</body>
</html>
